h1 Editing event

.well
	= form_for(@event, url: hosted_event_path(@event), html: { :class => "grid-5" }) do |f|
		== render partial: 'form', locals: { f: f }
br
/hr
/= link_to "Add People to help Manage This Event", {}
/br
/= link_to "Manage Permissions", {}