/*
 * = require_self
 * = require ./38
 * = require ./53
 * = require ./60
 * = require ./66
 * = require ./70
 * = require ./82
 * = require ./90
 * = require ./form_submit
 */

@media only screen{
	.shell{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;

		.housing{

			.information{
				transition: 0.1s ease-out;
			}
		}
	}


	.center{
		margin: 0 auto;
		text-align: center;
		// margin-top: 30%;

		h1 {
			font-size: 5em;
		}

		h5 {
			font-size: 1.5em;
			font-style: italic;
		}
	}

	.review{
		table{
			thead{
				tr{
					th{
						text-align: center;
					}
				}
			}
			tr{
				td:first-child{
					font-style: italic;
				}

				td + td + td {
					text-align: right;
				}
			}

			tr:last-child{
				font-weight: bold;
			}
		}
	}

	footer.buttons{
		background: gray;
		width: auto;
	}

}
