p#notice = notice


= link_to 'Edit', edit_hosted_event_pricing_tier_path(@event.id, @pricing_tier), :class => "btn btn-primary"
'|
= link_to 'Back', hosted_event_pricing_tiers_path(@event.id), :class => "btn btn-primary"
