h1 Editing discount

= form_for [@event, @discount], url: hosted_event_discount_path, :class => "form-horizontal" do |f|
	= render partial: 'form', locals: { f: f }

= link_to 'Show', hosted_event_discount_path(@event, @discount)
'|
= link_to 'Back', hosted_event_discounts_path(event_id: @event.id)

