scss:
  .tablet-nav{
    span{
      width: 50%;
      display: inline-block;
      padding: 20px;

      a{
        background: #eee;
        color: black;
        display: block;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        padding: 0 20px;
        text-align: center;
        line-height: 90px;
        font-size: 18px;
        font-weight: 200;
      }
      a:hover{
        text-decoration: none;
        background: darken(#eee, 10%);
        transition: 0.5s;
      }
    }

  }

javascript:
  $(function(){
    $('a.line-item-link').click(function(e){
      var target = $(e.target);
      var paymentDialog = target.closest('span').find('.form');
      var form = paymentDialog.find('form');
      var submitForm = function(){
        form.submit();
        paymentDialog.dialog("close");
      }
      paymentDialog.dialog({
        autoOpen: false,
        modal: true,
        buttons: {
          "Submit": submitForm
        },
        close: function() {
          $(this).dialog('destroy');
        }
      });
      paymentDialog.dialog("open");
    });

    $('.payment-method select').change(function(e){
      var target = $(e.target);
      var val = target.val();
      if (val == "Check"){
        target.closest('.form').find('.check-number').show();
      } else {
        target.closest('.form').find('.check-number').hide();
      }
    });
  });


.tablet-nav
  - [@line_items, @shirts].flatten.each do |line_item|
    span
      a.line-item-link = "$#{line_item.current_price} -- #{line_item.name}"
      .form style="display: none;"
        = form_for(@attendance, url: hosted_event_dance_only_index_path(@event)) do |f|
          = f.hidden_field :line_item_id, value: line_item.id
          = f.hidden_field :line_item_class, value: line_item.class.name
          = f.fields_for :local do |l|
            = l.label :local_dancer?
            = l.check_box :local_dancer
          hr
          = f.label :amount_due
          = f.text_field :amount_due, value: line_item.current_price, disabled: true
          = f.fields_for :order do |o|
            .payment-method
              = o.label :payment_method
              = o.select :payment_method, options_for_select(Payable::Methods::ALL, "Cash")
            .check-number style="display: none;"
              = o.label :check_number, "Check Number"
              = o.text_field :check_number

