= link_to "Download CSV", hosted_event_cancelled_attendances_path(@event, format: "csv")
= render partial: "/hosted_events/attendances/attendances", locals: { subject: @event,  title: "Cancelled Registrations for #{@event.name}", attendances: @attendances}