<%= content_for :header do %>
  Account Successfully Cancelled
<% end %>

<%= @user.first_name %>, We're sorry to see you go...
<br>
<br>
:-(
<br>
<br>
<p>
  If at anytime you would like to resurrect your account,
  or if you would like to provide feedback just reply to this email.
</p>
<br>
Thank you for spending time with us.<br>
 - The ÆONVERA Team
<br>
<br>
