h1 = @shirt.name
= link_to 'Edit Shirt', edit_hosted_event_shirt_path(event_id: @event.id, id: @shirt.id), :class => "button small"
| &nbsp;
= link_to 'Back', hosted_event_shirt_path(event_id: @event.id), :class => "button small"

= render partial: "/hosted_events/attendances/attendances", locals: { subject: @shirt }