h1 Add Membership

= form_for([@organization, @membership_option, @renewal], url: organization_membership_option_membership_renewals_path) do |f|
  .row
    .columns.medium-6
      = f.label :start_date
      = f.date_field :start_date, required: true


    .columns.medium-6
      label Search for Person
      = f.hidden_field :user_id, class: "search-non-members"

  br
  = f.submit "Add Member", class: "button"

javascript:
  $(function(){

    $(".search-non-members").select2({
      placeholder: "Search for a Person",
      width: "resolve",
      minimumInputLength: 3,
      ajax: {
        url: "non_members",
        dataType: 'json',
        delay: 500,
        data: function (term) {
          return {
            q: {
              full_name_cont: term
            }
          }
        },
        results: function(data){
          return {
            results: $.map(data, function(item){
              return {
                id: item.id,
                text: item.first_name + " " + item.last_name
              }
            })
          }
        },
        processResults: function (data, page) {
          // parse the results into the format expected by Select2.
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data
          return {
            results: data.items
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; } // let our custom formatter work
    });
  });
