
footer {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 80px;
  // position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  line-height: 20px;
  background: #333333;
  padding: 40px 40px;
  color: white;
}
