@import "colors";

header{
	
	display: inline-block;

	.terms-title{
		margin-bottom: 0px;
	}
	

	a.active{
		color: $link-active-color;
	}

	table{
		width: 100%;
		border: none;
		border-collapse: collapse;

		td{
			padding: 0px;
		}

		td.tos{
			text-align: right;

			a{
				color: $link-color;
				display: inline-block;
				margin: 0 10px;
			}

			a:last-child{
				margin-right: 0px;
			}

		}

		td.status{
			text-align: left;

			h6{
				text-align: left;
			}
		}
	}
}
.terms{
	line-height: 1.5em;
	border-bottom: 1px solid gray;
	width: 100%;
	text-align: left;

	article.organizers{
		display: none;
	}
}

article.updates{
	display: none;
}