/*
 *= require foundation_and_overrides
 *= require responsive-tables
 *= require help
 *= require jquery-ui
 *= require nprogress
 *= require font-awesome
 *= require footer
 *= require_self
 */

 body{
  height: auto;
 }

 .panel.bg-header{
  height: 200px;
  padding-top: 50px;
 }
 .panel.header{
    padding-left: 7.25rem;
    padding-right: 7.25rem;
 }

 .panel.bg-header-image{
  background: url("/assets/bg-header.png") center center;
  height: 200px;
 }

 .extra-padding {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.no-lineheight{
  line-height: 1em
}

.no-margins{
  margin: 0;
}

.no-bottom-margin{
  margin-bottom: 0;
}

.top-bar .top-bar-section ul li a:hover{
  background: #555 !important;
}

@media only screen and (min-width:  40.063em) {

  .top-bar,
  .top-bar li,
  .top-bar .name h1,
  .top-bar .title-area li h1,
  .top-bar section .pages li a {
    height: 60px !important;
    line-height: 60px !important;
    text-transform: uppercase !important;
  }

  .top-bar .top-bar-section .button{
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .top-bar .top-bar-section .auth li{
    padding-left: 6px;
    padding-right: 6px;
  }

} /* min-width 1025px, large screens */