@media only print{
	body{
		*{
			font-size: 10px !important;
		}
		h2{
			font-size: 20px !important;
		}

		nav[role='navigation'] *,
		div[role='navigation'] *,
		.fixed,
		nav.top-bar *,
		footer,
		.hide-for-small,
		.show-for-small,
		hr {
			display: none !important;
		}
		div.attendance{
			// page-break-before:always;
			// page-break-after:always;
			// position:relative;
			// display: block;
		}
		.f-topbar-fixed {
		padding-top: 0px !important;
		}

		table{
			border-collapse: collapse;

			td{
				padding: 3px !important;
			}
			th, td {
			  border: 1px solid #ccc;
			}
		}

		.small-block-grid-2 {
			li{
				list-style: none;
				display: inline-block;

				&.name{
					float: left;
				}
				&.total{
					float: right;
				}
			}
		}
	}


}
