@media only screen{
  .off-canvas-wrap, .inner-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
  }


  footer{
    max-height: 40px;
    margin-top: 0px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    background: #333333;
    padding: 10px 40px;
    color: #aaa;


    a{
      color: #aaa;
      font-size: 0.8em
    }

    ul.inline-list{
      margin: 0;
    }
    .row.copy{
      display: none;
    }
  }
  /* now to compensate for losing 20px at the bottom */


  .devinfo{
    position: fixed;
    color: white;
  }

  .inner-wrap {
    // overflow-x: hidden;
    // overflow-y: auto;
  }

  section.main-section {
    overflow: auto;
    position: fixed;
    top: 45px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    padding-bottom: 80px;
  }

  body {
    padding-top: 50px;
  }

  .field_with_errors {
    background: #ffcccc;
  }

  ol.legal {
    counter-reset: section;
    list-style-type: none;
    h2:before {
      counter-increment: section;
      content: counter(section) ". ";
      margin: 0;
    }
    ol {
      counter-reset: clause;
      list-style: none outside none;
      text-indent: 0em;
      margin-left: 2em;
      margin-bottom: 15px;
      li {
        counter-increment: clause;
        &:before {
          content: counter(section) "." counters(clause, ".") ". ";
          margin: 0;
          display: table-cell;
        }
        span {
          display: table-cell;
          padding-left: 10px;
        }
      }
    }
  }

  a {
    i {
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }

  h6 {
    color: gray;
    font-size: .9em;
    margin-bottom: 0px;
  }

  .divider hr {
    margin: 0;
  }

  table {
    border-collapse: collapse;
  }

  .print-out-page {
    page-break-after: always;
  }

  .well-centered {
    margin: 0 auto;
    width: 400px;
  }

  .overview, .shell {
    margin: 10px;
    // margin-top: 70px;
  }

  table th i {
    margin-left: 5px;
  }

  table th i:hover {
    text-decoration: none;
  }

  table tr td.deleted a {
    color: red;
  }

  table tr td.order-payment-status {
    text-align: center;
    background: #ffaaaa;
    &[data-paid='true'] {
      background: #aaddaa;
    }
  }

  .alert-box {
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 10;
    .close {
      top: 25%;
      color: black;
      opacity: 0.8;
    }
  }

  #nprogress {
    .spinner {
      top: 10px !important;
      right: 9px !important;
    }
    .spinner-icon {
      background: #333333;
      width: 22px !important;
      height: 22px !important;
    }
  }
}
