/*
 * = require_self
 * = require ./38
 * = require ./53
 * = require ./60
 * = require ./66
 * = require ./70
 * = require ./82
 * = require ./90
 */

@media only screen{
	
	.row.main{
		width: auto;
		max-width: none;
	}

	nav .name .f-dropdown.open	{
		width: 150px;
	}

	#error_explanation{
		border: 1px solid darkred;
		background: #ffcccc;
		padding: 10px;

		h2{
			margin: 0;
			font-size: 26px;
			font-weight: bold;
		}

		ul{
			margin-left: 20px;
			li{

			}
		}
	}
}